<div class="container">
    <div class="col">
        <h2 class="text-center">{% trans %}The most important training is {% endtrans %} {{forwardtraining.name}}</h2>
        {% for image in forwardtraining.images %}
            <div>                
                <img class="card-img-bottom" src="{{ asset('/uploads/trainings/'~image.image)|imagine_filter('rectangle') }}" alt="{{forwardtraining.name}}"  > 
            </div>
        {% endfor %}
        
    </div>
</div>
