{% block body %}
<div class="album py-5 ">
    <div class="container">
     <h2 class" ">{% trans %}Recent training courses{% endtrans %}</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
        {% for lasttraining in lasttrainings %}
            <div class="col">            
                <div class="card shadow-sm">                    
                    <a href={{path('show_training', {id:lasttraining.id})}}>{% trans %} photo of the course {% endtrans %}</a>
                </div>            
            </div>
        {% endfor %}
        </div>
    </div>
</div> 
{% endblock %}