{% block body %}
<div class="album py-5 ">
    <div class="container">
        <h2 class="text-center">{% trans %}Recent training courses{% endtrans %}</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for lasttraining in lasttrainings %}            
                    <div class="col">      
                        {% for image in lasttraining.images %}
                                <div>
                                    <a href={{path('show_training', {id:lasttraining.id})}}><img class="card-img-bottom" src="{{ asset('/uploads/trainings/'~image.image)|imagine_filter('carre') }}" alt="{{lasttraining.name}}"></a>
                                </div>
                        {% endfor %} 
                        <h2 class="text-center">{{lasttraining.name}}</h2>
                    </div>
            {% endfor %}
        </div>
    </div>
</div> 
{% endblock %}