{% extends 'base.html.twig' %}
{% block title %}{% trans %}Error page{% endtrans %}{% endblock %}

{% block body %}       
    <div class="container ">
        <div class="page-error">
            <div class="text-center">
                <div class="">
                    <h1 class=" text-primary">HTTP Error {{ exception.statusCode }}{% endtrans %}</h1>
                    <p class="">{{ exception.statusText }}</p>                  
                    <p >{% trans %}Oops! you're not in the right place!{% endtrans %}</p>
                    <a href={{path('app_home')}}  class="rtr-accueil text-decoration-none">{% trans %}Return to the home page>{% endtrans %}</a> 
                </div>
            </div>
        </div>
    </div>
{% endblock %}
