/*Les messages flash*/
.alert {
  padding: 10px;
  color: white;
  text-align: center;
  margin: 0;
  border: none;
  border-radius: 0;
}

.alert-success {
  background-color: green;
}

.alert-error {
  background-color: red;
}

.alert-info {
  background-color: blue;
}

/*Les messages d'erreur formulaire*/

label.error {
  font-weight: 700;
  display: block;
  color: #f00;
  font-size: 14px;
}
