{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}
    <div>
        <h1>{% trans %}Administration{% endtrans %}</h1>
        <p>{% trans %}Welcome to your site administration interface!{% endtrans %}</p>
    </div>
{% endblock %}