{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <button id="invit-paiement" class="btn btn-primary "  type="submit">{% trans %}Invit paiement{% endtrans %}</button>
    <div id="invitpaiement"></div>
</div>
 {% endblock %}