{% trans %}Successful payment{% endtrans %}

<div class="container">
    <h1 class="text-center">{% trans %}Dear Sir or Madam{% endtrans %} {{name}},</h1>
    <h3 class="text-center">{% trans %}Thank you for your order ! {% endtrans %} </h3>
    <h3 class="text-center">{% trans %}Total amount : {% endtrans %} {{amount}}€.</h3>
    <h3 class="text-center">{% trans %}Type of payment : {% endtrans %} {{paiment_type}}.</h3>
    <h3 class="text-center">{% trans %} The date of payment : {% endtrans %} {{ buy_date|date('d-m-Y')}}. </h3>
</div>


