{% extends 'base.html.twig' %}

{% block title %}Paiement réussi{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Bonjour Monsieur, Madame {{name}},</h1>
    <p class="text-center">Nous vous remercions pour votre achat et vous souhaitons une bonne lecture</p>

    <h2 class="text-center">Nous vous mettons ci-dessous une suggestion des plus recentes formations</h2>
    {{ render(path('last_trainings')) }}   

</div>

{% endblock %}
