<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container text-center  text-md-left">
        <div class="row text-center text-md-left">
            <div class="col-md-4 col-lg-4 mx-auto mt-4">
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary">contact</h5>
                <p><i class="fas fa-home mr-3"></i> Rue du Bonheur 33, 4000 Liège</p>
                <p><i class="fas fa-envelope mr-3"></i> ars@gmail.com</p>
                <p><i class="fas fa-phone mr-3"></i> +32(0)200 00 00 00</p>
            </div>
            <div class="col-md-4 col-lg-4 mx-auto mt-4">
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary">reseaux sociaux</h5>
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <a href="#" class="btn-foating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="btn-foating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="btn-foating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-linkedin"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="btn-foating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-lg-4 mx-auto mt-4">
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Heures d'ouverture</h5>
                <p>Lundi - Jeudi 10h-12h, 13h-17h</p>
                <p>Vendredi 9h-12h</p>
                <p>Samedi - Dimanche Fermé</p>
            </div>
        </div>
        <hr class="mb-4">
        <div class="row align-items-center">
            <p> &copy; Copyright 2022 ARS tous droits reservés</p>
        </div>
    </div>    
</footer>