{% extends 'base.html.twig' %}

{% block title %}{% trans %}About Us{% endtrans %}{% endblock %}

{% block body %}

<div class="container">
    <h1 class="">{% trans %}About ARS{% endtrans %}</h1>
    <div>    
        <p>
            {% trans %}ARS (Aller à la Rencontre de Soi) is a structure that was created by people who have been hardened by life's trials. Their aim is to put their experience at the service of others with attentive listening without judgement and with the greatest possible empathy through coaching sessions. In order to bring everyone to meet themselves and to be in agreement with themselves.{% endtrans %}
        </p>
    </div>
    <div class="">               
        <img src="uploads/images/chemin-bonheur.jpg" class="d-block w-100" alt="image d'ARS-chemin-bonheur" height="550px">     
    </div>
    <div>    
        <p>
            {% trans %}ARS (Aller à la Rencontre de Soi) is a structure that was created by people who have been hardened by life's trials. Their aim is to put their experience at the service of others with attentive listening without judgement and with the greatest possible empathy through coaching sessions. In order to bring everyone to meet themselves and to be in agreement with themselves.{% endtrans %}
        </p>
    </div>
    <div>    
        <p>
            {% trans %}ARS (Aller à la Rencontre de Soi) is a structure that was created by people who have been hardened by life's trials. Their aim is to put their experience at the service of others with attentive listening without judgement and with the greatest possible empathy through coaching sessions. In order to bring everyone to meet themselves and to be in agreement with themselves.{% endtrans %}
        </p>
    </div>
    <div>    
        <p>
            {% trans %}ARS (Aller à la Rencontre de Soi) is a structure that was created by people who have been hardened by life's trials. Their aim is to put their experience at the service of others with attentive listening without judgement and with the greatest possible empathy through coaching sessions. In order to bring everyone to meet themselves and to be in agreement with themselves.{% endtrans %}
        </p>
    </div>
</div>
{% endblock %}
