{% extends 'users.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-1">
                <div class="card bg-dark text-center sidebar">
                    <div class="card-body">
                        <img src="{{ asset('/uploads/coaches/'~app.user.coach.image)}}" class="rounded-circle" alt="{{app.user.coach.name}}" width="200">
                        <div class="mt-3">
                            <h3>Mon profil</h3>
                        </div>    
                    </div>
                </div> 
            </div> 
            <div class="col-md-8 mt-1">
                <div class="card mb-3 content">
                    <h1>Modification du profil de {{app.user.coach.name}} </h1>
                    <div class="card-body">
                        <div class="row">
                            {{ form(form) }} 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}