{% extends 'users.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block body %}
    <div class="container layout">
        <div class="row">
            <div class="col-md-4 my-5">
                <div class="card bg-dark text-center sidebar">
                    <div class="card-body">
                        <img src="{{ asset('/uploads/customers/'~app.user.customer.image)}}" class="rounded-circle" alt="{{app.user.customer.name}}" width="200">
                        <div class="mt-3">
                            <h3>My profile</h3>
                        </div>    
                    </div>
                </div> 
            </div> 
            <div class="col-md-8 my-5">
                <div class="card mb-3 content">
                    <h1>Edit profile{{app.user.customer.name}} </h1>
                    <div class="card-body">
                        <div class="row">
                            {{ form(form) }} 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}