{% extends 'base.html.twig' %}

{% block title %}{% trans %}Add Coaches{% endtrans %}{% endblock %}

{% block body %}
    <div class="container layout">
        <div class="my-5">
            {{ form(form) }}  
        </div> 
    </div>
{% endblock %}